:root {
  --review-light-gray: $light-gray;
  --hero-height: 0px;
  --max-hero-height: 6.75px;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  font-family: Apercu, Gill Sans, sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.225rem;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

img {
  border-style: none;
  max-width: 100%;
}

button {
  font-family: Apercu, Gill Sans, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.001875rem;
}

button, input {
  overflow: visible;
}

button[type=button] {
  cursor: pointer;
}

input[type=search]::-webkit-search-cancel-button {
  appearance: none;
}

[data-input=mouse] input:focus {
  outline: 0;
}

[type=search] {
  outline-offset: -2px;
}

nav {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.975rem;
  letter-spacing: 0.001875rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.main {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 4rem;
}

.screenreader {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.list {
  font-size: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.overlay {
  background-color: rgb(253, 251, 248);
  height: 100vh;
  width: 100vw;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out, z-index 0.6s ease-in-out;
  visibility: hidden;
  z-index: 1;
}
.overlay__main.active {
  visibility: visible;
  opacity: 0.6;
  z-index: 5;
}
.overlay__bag.active {
  visibility: visible;
  opacity: 0.6;
  z-index: 15;
}

@media only screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition: padding 0.5s ease-in-out;
  }
}
@media only screen and (min-width: 1410px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.img-placeholder {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0 0 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-out 0.15s;
}

.icon__close {
  width: 0.75em !important;
  height: 0.75em !important;
}

.btn {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 0;
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.025em;
  padding: 0.5rem 1rem;
  min-height: 2.5rem;
  transition: font-size 0.4s ease-in-out;
  box-sizing: border-box;
}
.btn__fullsize {
  width: 100%;
  min-width: 100% !important;
}
.btn__link {
  background-color: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  border: 0;
  padding: 0;
}
.btn__text {
  background-color: transparent;
  border: 0;
  color: rgb(70, 69, 69);
  padding: 0;
}
.btn__icon {
  background-color: #fff;
  background-image: none;
  border: none;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.promoBar {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.promoBar__container {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.promoBar__text {
  display: block;
}
.promoBar__text p {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.05rem;
}
@media only screen and (min-width: 1024px) {
  .promoBar__text p {
    font-size: 0.875rem;
    line-height: 1.225rem;
  }
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background-color: rgb(242, 233, 228);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  height: 4rem;
}

@media only screen and (max-width: 1024px) {
  .hide__mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 1025px) {
  .hide__desktop {
    display: none !important;
  }
}

.nav {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.975rem;
  letter-spacing: 0.001875rem;
}
@media only screen and (min-width: 1025px) {
  .nav__container {
    padding-top: 1.55rem;
  }
}
.nav__container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 4rem;
}
.nav__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.nav__content:nth-child(1) {
  justify-content: flex-start;
}
.nav__content:nth-child(2) {
  justify-content: flex-start;
}
.nav__content:last-of-type {
  justify-content: flex-end;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
}
.nav__desktop, .nav__mobile {
  padding: 0 2rem 1.2rem 0;
  white-space: nowrap;
}
.nav__desktop-dropdown {
  background-color: rgb(242, 233, 228);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 7.5rem 0 2.75rem 0;
  transform: translate3d(0, -4rem, 0);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, visibility 0.4s ease-in-out;
  z-index: -1;
}
.nav__mobile-btn {
  background-color: rgb(242, 233, 228);
  padding: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;
}
.nav__mobile-btn.active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  width: auto;
  visibility: visible;
}
.nav__mobile-container {
  background-color: rgb(242, 233, 228);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 4rem;
  width: 100vw;
  height: 100vh;
  padding: 6rem 4.5rem;
  transform: translateX(-100%);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.nav__mobile-container.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.nav__mobile-item {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  padding: 0.5rem 0rem;
}
.nav__mobile-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav__mobile-dropdown {
  height: 0;
  overflow: hidden;
}
.nav__mobile-dropdown.expand {
  height: auto;
}
@media only screen and (max-width: 1024px) {
  .nav__mobile-dropdown-list {
    padding: 0.5rem 0 0 0.5rem;
  }
}
.nav__mobile-dropdown-item {
  padding-bottom: 1rem;
}
@media only screen and (min-width: 1025px) {
  .nav__item {
    padding: 0 2rem 1.2rem 0;
    margin: 0;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 1024px) {
  .nav__item {
    padding: 0.25rem 0.5rem;
    margin: 0;
    white-space: nowrap;
  }
}
.nav__item-dropdown {
  background-color: rgb(242, 233, 228);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 3.5rem 0 2.75rem 0;
  transform: translate3d(0, -4rem, 0);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, visibility 0.4s ease-in-out;
  z-index: -1;
}
.nav__item:hover .nav__item-dropdown {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.nav__item-link {
  display: block;
  color: inherit;
  font-weight: 400;
  font-size: 1rem;
  border-bottom: none;
  text-transform: uppercase;
}
.nav__item-link.active {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.nav__item-btn {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: inherit;
  border-bottom: none;
  text-transform: uppercase;
  padding: 0;
  min-height: 0;
}

.search {
  background-color: #fdfbf8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  position: fixed;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out, z-index 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  width: 100%;
  z-index: -1;
}
.search.active {
  visibility: visible;
  opacity: 1;
  z-index: 9;
  transform: translate3d(0, 5.75rem, 0);
}
.search__form {
  margin: 0.5rem 0;
}
@media only screen and (min-width: 1025px) {
  .search__form {
    margin: 1rem 0;
  }
}
.search__form-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.search__form-input {
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.search__form-input.input__placeholder {
  position: relative;
  z-index: 0;
}
.search__form-input.input__placeholder .input {
  background: 0 0;
  border: 1px solid rgb(232, 232, 232);
  text-align: left;
  box-shadow: none;
  transition: padding 0.1s ease-in-out;
  font-size: 0.875rem;
  line-height: 1.225rem;
  width: 100%;
  margin: 0;
  position: relative;
  z-index: 2;
}
.search__form-input.input__placeholder .input:focus ~ label {
  padding: 0.3125rem 0.5rem;
  font-size: 0.625rem;
}
.search__form-input.input__placeholder .search__input {
  height: 3rem;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: rgb(0, 0, 0);
  padding: 1.375rem 0.5rem 0.375rem;
}
.search__form-input.input__placeholder .search__input:focus {
  padding: 1.375rem 0.5rem 0.375rem;
  outline: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.search__form-input.input__placeholder label {
  border: 1px solid transparent;
  color: rgb(102, 102, 102);
  display: block;
  font-weight: 400;
  margin: 0;
  padding: 0.875rem 0.5rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: font-size 0.1s ease-in-out, padding 0.1s ease-in-out;
  z-index: 3;
  font-size: 0.875rem;
  line-height: 1.225rem;
}
.search__form-clear {
  height: 3rem;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgb(102, 102, 102);
  padding: 0.875rem 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
}
.search__form-clear.hide {
  display: none;
}
.search__form-close {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.bag {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  transition: visibility 1ms ease-in-out 0.3s, transform 0.3s ease-in-out;
  transform: translate3d(100%, 0, 0);
  z-index: 15;
  visibility: hidden;
}
@media only screen and (min-width: 1025px) {
  .bag {
    width: 28rem;
  }
}
.bag__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 1.25rem;
}
.bag.active {
  transform: none;
  visibility: visible;
  transition: transform 0.3s ease-in-out;
}
.bag__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bag__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.bag.is-empty .bag__content {
  padding: 0;
}
.bag.is-empty .bag__empty {
  background-color: rgb(242, 233, 228);
  display: flex;
  flex-direction: column;
  flex: 1;
}
.bag.is-empty .bag__empty-msg {
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
  padding: 2rem 1.5rem;
  text-align: center;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.bag__recs-header {
  text-transform: uppercase;
  margin: 1.25rem 1rem -1rem;
}
@media (min-width: 1023px) {
  .bag__recs-header {
    margin-left: 1.25rem;
  }
}
.bag__shop-wrapper {
  padding: 1.25rem;
  border-bottom: 1px solid rgb(216, 216, 216);
}
.bag__shop-all {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.bag__swiper {
  margin-top: 0.75rem;
  padding: 1.25rem;
}

@media only screen and (min-width: 1025px) {
  .dropdown__content {
    padding: 0 4.25rem 0 5rem;
  }
  .dropdown__content-list {
    margin-left: -0.75rem;
  }
}
.dropdown__content .swiper-slide {
  width: fit-content !important;
  padding-bottom: 0.625rem;
}
@media only screen and (min-width: 1025px) {
  .dropdown__image {
    display: block;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border-color 0.4s ease-in-out;
  }
  .dropdown__header {
    font-size: 1.225rem;
    letter-spacing: 0.5px;
    line-height: 1.375rem;
    padding-top: 0.75rem;
    text-align: center;
    text-transform: capitalize;
  }
  .dropdown__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dropdown__link:hover .dropdown__image {
    border-color: red;
  }
}

.home__hero {
  position: relative;
  overflow: hidden;
  height: calc(var(--hero-height, 1vh) * 100);
  max-height: calc(var(--max-hero-height, 1vh) * 100);
}
.home__hero-wrapper {
  position: relative;
}
.home__hero-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.home__hero-image {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.home__hero-image img {
  display: block;
  min-height: 1px;
  width: 100%;
  object-fit: cover;
  max-height: calc(var(--max-hero-height, 1vh) * 100);
}
.home__collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.75rem;
  grid-auto-rows: 1fr;
  padding-top: 4rem;
}

.collection {
  display: block;
  position: relative;
  padding-top: 2.5rem;
}
.collection__toolbar {
  background-color: rgb(232, 232, 232);
  position: fixed;
  height: 2.5rem;
  top: 4rem;
  width: 100%;
  z-index: 3;
}
.collection__toolbar-container {
  display: flex;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  height: 2.5rem;
  width: 100%;
}
.collection__filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-top: 0.1875rem;
}
.collection__filter-item {
  color: rgb(102, 102, 102);
  font-size: 0.875rem;
  padding: 0;
  margin-right: 1rem;
  cursor: pointer;
}
.collection__filter-item-title {
  display: inline-block;
  margin-right: 0.0625rem;
}
.collection__filter-wrapper {
  display: inline-flex;
  align-items: center;
  color: rgb(0, 0, 0);
}
.collection__filter-select {
  color: rgb(0, 0, 0);
  font-size: 0.875rem;
  text-align: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  line-height: 140%;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}
.collection__filter-btn {
  display: inline-flex;
}
.collection__modal {
  position: absolute;
  display: inline-block;
  max-width: 43.5rem;
  width: 100%;
  inset: 50% auto auto 50%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  padding: 0 0.625rem 0 0.625rem;
  vertical-align: middle;
  z-index: 101;
  transform: translate(-50%, -50%);
}
.collection__modal-overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(253, 251, 248, 0.35);
  z-index: 100;
  font-size: 0.875rem;
  line-height: 140%;
}
.collection__modal-header {
  margin-bottom: 1rem;
  position: relative;
  padding: 0.625rem 0 0.5rem;
}
.collection__modal-header:after {
  content: "";
  position: absolute;
  bottom: -0.1875rem;
  left: -0.625rem;
  display: block;
  border-bottom: 1px solid #f0f0f0;
  width: calc(100% + 1.25rem);
}
.collection__modal-header-title {
  margin: 0;
  font-weight: 600;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.225rem;
}
.collection__modal-close {
  font-size: 1rem;
  margin: 0;
  position: absolute;
  right: -0.3125rem;
  top: 0;
  min-height: 2.3125rem;
  z-index: 2;
  animation: none;
  background: 0 0;
  outline: 0;
}
@media only screen and (min-width: 1025px) {
  .collection__modal-close {
    right: -0.5rem;
  }
}
.collection__modal-content {
  text-align: left;
}
@media only screen and (min-width: 1025px) {
  .collection__modal-content {
    padding-right: 6rem;
  }
}
.collection__modal-content .filter__btn-group {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0 0.75rem;
  gap: 0.75rem;
  position: sticky;
  bottom: 0;
}
@media only screen and (min-width: 1025px) {
  .collection__modal-content .filter__btn-group {
    justify-content: flex-start;
    padding: 3.75rem 0 1rem;
  }
}
.collection__modal-content .filter__btn-group .btn {
  flex: 0 auto;
}
.collection__modal-content .filter__btn-group .btn-secondary {
  background-color: rgb(255, 255, 255);
}
.collection__modal-content .filter__form-inner:first-child {
  padding-top: 0.25rem;
}
.collection__modal-content .filter__form-inner:nth-child(2) {
  padding-top: 1.875rem;
}
.collection__modal-content .filter__group-title {
  padding: 0 0 0.625rem 0.125rem;
}
.collection__modal-content .filter__group-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
}
.collection__modal-content .filter__group-item {
  padding: 0;
  margin: 0;
  display: inherit;
}
.collection__modal-content .filter__group-item .check-with-label {
  visibility: hidden;
  width: 0;
  height: 0;
}
.collection__modal-content .filter__group-item .label-for-check {
  cursor: pointer;
  padding: 0.71875rem 0.75rem;
  height: 2.75rem;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(240, 240, 240);
  outline: rgb(240, 240, 240) solid 1px;
  font-style: italic;
  margin: 0;
  display: flex;
}
@media only screen and (min-width: 1025px) {
  .collection__modal-content .filter__group-item .label-for-check {
    padding: 0.325rem 0.75rem;
    height: 2rem;
  }
}
.collection__container {
  padding-top: 0.75rem;
}
.collection__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.collection__products {
  transition: none;
}
.collection__products-list {
  display: flex;
  padding-top: 1rem;
}
.collection__products-list-item {
  padding-bottom: 0;
  height: 100%;
  transition: margin 0.4s ease-in-out;
}
.collection__products-list-item .collection__item {
  display: inline-block;
  font-size: 1rem;
  transition: padding 0.4s ease-in-out;
  vertical-align: top;
}
.collection__products-list-item .item__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.75rem;
}
.collection__products-list-item .item__details {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}
.collection__products-list-item .item__details .item__title {
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: capitalize;
}
.collection__products-list-item .item__desc-wrapper {
  margin: 0;
  position: relative;
}
.collection__products-list-item .item__desc-wrapper .item__desc-text {
  margin: 0;
  color: rgb(52, 58, 64);
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: capitalize;
}
.collection__products-list-item .item__desc .item__price {
  margin: 0.25rem 0;
  color: #000;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
@media only screen and (min-width: 768px) {
  .collection__products-list-item .item__desc .item__price {
    white-space: nowrap;
  }
}

.swiper__viewport {
  overflow: hidden;
  position: relative;
}
.swiper__draggable {
  cursor: grab;
  user-select: none;
}

.card__category {
  position: relative;
  overflow: hidden;
  height: 100%;
  outline: none;
}
@media only screen and (min-width: 760px) {
  .card__category {
    min-height: 0;
  }
}
.card__category > div {
  transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}
.card__category-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 1rem 0.75rem;
  z-index: 2;
  line-height: 150%;
  text-decoration: none !important;
}
@media only screen and (min-width: 760px) {
  .card__category-link {
    padding: 1.75rem;
  }
}
.card__category-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.card__category-title {
  text-transform: capitalize;
}
@media only screen and (min-width: 821px) {
  .card__category-title {
    font-size: 4vw;
  }
}
.card__wrapper {
  height: 100%;
}
.card__wrapper .item__image-wrapper {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.card__wrapper .item__image-overlay {
  box-sizing: border-box;
  display: block;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding-bottom: 115%;
}
.card__wrapper img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  margin: auto;
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.footer {
  position: relative;
  background-color: rgb(242, 233, 228);
  overflow: hidden;
}
.footer__container {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}
.footer__content {
  display: flex;
}
@media only screen and (min-width: 768px) {
  .footer__content {
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 0.625rem;
  }
}
.footer__newsletter {
  display: flex;
  flex-basis: 50%;
}
.footer__newsletter-privacy {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}
.footer__newsletter .footer__form-container {
  width: 100%;
}
.footer__nav {
  display: flex;
  flex-basis: 50%;
  flex-flow: column nowrap;
}
.footer__nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1.25rem;
}
.footer__nav-links {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 100%;
}
.footer__nav-header {
  font-size: 0.75rem;
  line-height: 1.275rem;
  letter-spacing: 0.0025rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .footer__nav-header {
    margin-bottom: 1rem;
  }
}
.footer__nav-item {
  line-height: 1.25rem;
  padding-bottom: 0.75rem;
}
.footer__nav-link {
  color: rgb(0, 0, 0);
  font-size: 0.875rem;
  text-transform: none;
}
.footer__nav-icon {
  transform: scale(0.8) translate(0, 8px);
}
.footer__input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  overflow: visible;
  float: left;
  border-radius: 0px;
  border-style: none;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position-y: 50%;
  padding: 0px;
  flex: 1 1 0%;
}
.form__single-field label {
  position: absolute;
  top: 0;
  padding: 0.875rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.225rem;
  pointer-events: none;
  text-align: left !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.form__single-field .input {
  text-align: left;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  height: 2rem;
}
.form__single-field .newsletter__email {
  display: flex;
  justify-content: flex-start;
  padding: 0px 10px 8px 0px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  flex: 1 0 0px;
}
.form__single-field .newsletter__sub {
  display: flex;
  justify-content: flex-start;
  padding: 0px 0px 7px;
  position: relative;
  flex: 0 1 auto;
  margin: 0px auto;
}
.form__single-field .newsletter__sub-btn {
  cursor: pointer;
  height: 46px;
  padding: 0 8px;
  text-align: center;
  word-break: break-word;
  align-self: flex-end;
  border-bottom-color: rgb(0, 0, 0) !important;
}
.form__single-field .newsletter__sub .btn {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
}
.form__single-field .newsletter__input {
  width: 100%;
  border-bottom-color: rgb(0, 0, 0) !important;
  height: 2.875rem !important;
  padding: 1.375rem 0.5rem 0.375rem !important;
}
.form__single-field .newsletter__input:focus {
  outline: none;
}
.form__single-field .newsletter__privacy {
  font-size: 14px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.05rem !important;
  margin: 0;
}
.form__single-field .newsletter__privacy-container {
  display: flex;
  justify-content: flex-start;
  padding: 0px 0px 10px;
  position: relative;
  flex: 1 0 0px;
  margin: 0;
}
.form__single-field .newsletter__privacy-content {
  width: 100%;
}
.form__single-field .newsletter__privacy-text {
  font-size: 12px;
  font-family: "Apercu", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  display: inline;
  color: rgb(102, 102, 102);
}
.form__single-field .newsletter__privacy-link {
  font-weight: 400;
  color: rgb(102, 102, 102);
  text-decoration: underline;
  border-bottom: none;
}



/*# sourceMappingURL=style.css.map */
