:root {
  --review-light-gray: $light-gray;
  --hero-height: 0px;
  --max-hero-height: 6.75px;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  font-family: Apercu, Gill Sans, sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

img {
  border-style: none;
  max-width: 100%;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.225rem;
  margin: 0;
  overflow: visible;
}

button[type=button] {
  cursor: pointer;
}

.main {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}

@media only screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition: padding 0.5s ease-in-out;
  }
}
@media only screen and (min-width: 1410px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.btn__link {
  background-color: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  border: 0;
  padding: 0;
}

.promoBar {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.promoBar__container {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.promoBar__text {
  display: block;
}
.promoBar__text p {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.05rem;
}
@media only screen and (min-width: 1024px) {
  .promoBar__text p {
    font-size: 0.875rem;
    line-height: 1.225rem;
  }
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
  height: 4rem;
}

.nav__container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 4rem;
}
.nav__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.nav__content:first-of-type {
  justify-content: flex-start;
}
.nav__content:last-of-type {
  justify-content: flex-end;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.nav__item {
  margin: 0.25rem 0.5rem;
  padding: 0;
  white-space: nowrap;
}
.nav__item-link {
  display: block;
  color: inherit;
  font-weight: 400;
  font-size: 1rem;
  border-bottom: none;
  text-transform: uppercase;
}
.nav__item-link.active {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.nav__item-btn {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: inherit;
  border-bottom: none;
  text-transform: uppercase;
}
.nav__item-btn:hover {
  border-bottom: 1px solid;
  text-decoration: none;
}

.home__hero {
  position: relative;
  overflow: hidden;
  height: calc(var(--hero-height, 1vh) * 100);
  max-height: calc(var(--max-hero-height, 1vh) * 100);
}
.home__hero-wrapper {
  position: relative;
}
.home__hero-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.home__hero-image {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.home__hero-image img {
  display: block;
  min-height: 1px;
  width: 100%;
  object-fit: cover;
  max-height: calc(var(--max-hero-height, 1vh) * 100);
}

.featured__products {
  padding-top: 1rem;
  transition: none;
}



/*# sourceMappingURL=style.css.map */
