

:root {
  --review-light-gray: $light-gray;
  --hero-height: 0px;
  --max-hero-height: 6.75px;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  font-family: Apercu, Gill Sans, sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

img {
	border-style: none;
	max-width: 100%;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.225rem;
  margin: 0;
  overflow: visible;
}

button[type=button] {
  cursor: pointer;
}

.main {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
}

.container {
    @media only screen and (min-width: 1024px) {
      margin: 0 auto;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      transition: padding 0.5s ease-in-out;
    }

    @media only screen and (min-width: 1410px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

.btn__link {
  background-color: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
  border: 0;
  padding: 0;
}

.promoBar {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	&__container {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	&__text {
		display: block;

		p {
			margin: 0;
			font-size: 0.75rem;
			line-height: 1.05rem;

			@media only screen and (min-width: 1024px) {
				font-size: 0.875rem;
    			line-height: 1.225rem;
			}
		}
	}
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
  height: 4rem;
}

.nav {

    &__container {
        display: flex;
        margin: 0 auto;
        width: 100%;
        height: 4rem;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        &:first-of-type {
            justify-content: flex-start;
        }

        &:last-of-type {
            justify-content: flex-end;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 0.25rem 0.5rem;
        padding: 0;
        white-space: nowrap;

        &-link {
            display: block;
            color: inherit;
            font-weight: 400;
            font-size: 1rem;
            border-bottom: none;
            text-transform: uppercase;

            &.active {
                border-bottom: 1px solid rgb(0, 0, 0);
            }
        }

        &-btn {
            display: block;
            font-size: 1rem;
            font-weight: 400;
            color: inherit;
            border-bottom: none;
            text-transform: uppercase;

            &:hover {
                border-bottom: 1px solid;
                text-decoration: none;
            }
        }
    }
}

.home {

	&__hero {
      position: relative;
      overflow: hidden;
      height: calc(var(--hero-height, 1vh) * 100);
      max-height: calc(var(--max-hero-height, 1vh) * 100);

        &-wrapper {
            position: relative;

            &::before {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              z-index: 1;
            }
        }

        &-image {
          overflow: hidden;
          position: relative;
          width: 100%;
    
            img {
              display: block;
              min-height: 1px;
              width: 100%;
              object-fit: cover;
              max-height: calc(var(--max-hero-height, 1vh) * 100);
            }
        }
    }
}

.featured {

	&__products {
		transition: none;

    &-list {
      padding-top: 1rem;

      &-item {
        padding-bottom: 0;
        height: 100%;
        margin: 0 .75em !important;
        // min-width: calc(85% - .75rem);
        // width: calc(100% - .75rem);
        transition: margin .4s ease-in-out;

        .featured__item {
          display: inline-block;
          font-size: 1rem;
          transition: padding .4s ease-in-out;
          vertical-align: top;
        }

        .item {

          &__info {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          &__details {
            display: flex;
            justify-content: space-between;
            flex-flow: row nowrap;

            .item__title {
              margin: 0;
              color: rgb(0, 0, 0);
              font-size: .875rem;
              line-height: 1.25rem;
            }
          }

          &__link {

          }
        
          &__info {
            padding-top: .75rem;
        
            &-top {
              
            }
          }
        }
      }
    }
	}
}

.swiper {

  &__viewport {
    overflow: hidden;
    position: relative;
  }

  &__draggable {
    cursor: grab;
    user-select: none;
  }
}

/*# sourceMappingURL=style.scss.map */
